<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.u0450254.wheeloftimecompanion">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".GuideActivity"
            android:parentActivityName=".MainActivity">
        </activity>


        <activity android:name=".CharacterActivity"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity android:name=".MainCharacterActivity"
            android:parentActivityName=".CharacterActivity">
        </activity>
        <activity android:name=".SupportCharacterActivity"
            android:parentActivityName=".CharacterActivity">
        </activity>
        <activity android:name=".EnemyCharacterActivity"
            android:parentActivityName=".CharacterActivity">
        </activity>
        <activity android:name=".LegendCharacterActivity"
            android:parentActivityName=".CharacterActivity">
        </activity>
        <activity android:name=".OtherCharacterActivity"
            android:parentActivityName=".CharacterActivity">
        </activity>


        <activity android:name=".LocationActivity"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity android:name=".Locations.NationActivity"
            android:parentActivityName=".LocationActivity">
        </activity>
        <activity android:name=".Locations.LandmarksActivity"
            android:parentActivityName=".LocationActivity">
        </activity>



        <activity android:name=".Books.Book1Activity"
            android:parentActivityName=".GuideActivity">
        </activity>
        <activity android:name=".Books.Book1.ActivityP"
            android:parentActivityName=".Books.Book1Activity">
        </activity>
        <activity android:name=".Books.Book1.Activity1"
            android:parentActivityName=".Books.Book1Activity">
        </activity>



        <activity android:name=".Characters.Main_Characters.Rand"
            android:parentActivityName=".MainCharacterActivity">
        </activity>
        <activity android:name=".Characters.Main_Characters.Nynaeve"
            android:parentActivityName=".MainCharacterActivity">
        </activity>
        <activity android:name=".Characters.Main_Characters.Egwene"
            android:parentActivityName=".MainCharacterActivity">
        </activity>
        <activity android:name=".Characters.Main_Characters.Perrin"
            android:parentActivityName=".MainCharacterActivity">
        </activity>
        <activity android:name=".Characters.Legends.LewsTherin"
            android:parentActivityName=".LegendCharacterActivity">
        </activity>
        <activity android:name=".Characters.Forsworn.Ishamael"
            android:parentActivityName=".EnemyCharacterActivity">
        </activity>



        <activity android:name=".Locations.Nations.Andor"
            android:parentActivityName=".Locations.NationActivity">
        </activity>
        <activity android:name=".Locations.Landmarks.AielWaste"
            android:parentActivityName=".Locations.NationActivity">
        </activity>


        <activity android:name=".TerminologyActivity"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity android:name=".Terminology.AgeofLegends"
            android:parentActivityName=".TerminologyActivity">
        </activity>
        <activity android:name=".Terminology.TheDarkOne"
            android:parentActivityName=".TerminologyActivity">
        </activity>



        <activity android:name=".OrganizationsActivity"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity android:name=".Organizations.AesSedai"
            android:parentActivityName=".OrganizationsActivity">
        </activity>
        <activity android:name=".Organizations.Aiel"
            android:parentActivityName=".OrganizationsActivity">
        </activity>
    </application>
</manifest>